@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Real-time SignalR Chat</h1>
    <img src="img/welcome.svg" alt="" class="img-fluid img-fluid-center">
</div>
